<div class="row">
  <div class="col-12 col-md-8">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
      <div role="alert" *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter Name"
          [(ngModel)]="credentials.name"
          required
          #name="ngModel"
          class="form-control"
        >
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter email address"
          [(ngModel)]="credentials.email"
          required
          #email="ngModel"
          class="form-control"
        >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          Email is required and must be a valid email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="e.g 12+ alphanumerics"
          [(ngModel)]="credentials.password"
          required
          #password="ngModel"
          class="form-control"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
          Password is required.
        </div>
      </div>
      <button type="submit" role="button" class="btn btn-primary" [disabled]="loginForm.invalid">
        Sign In!
      </button>
    </form>
  </div>
</div>
